.main{
    height: 60vw;
    background-color: #0f0f0f;
    margin-top: 100vh;
    margin-bottom: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        height: 100%;
    }
}

.spacer{
    background: #0f0f0f;
    height: 100vh;
}

.title{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 18px;
    h1{
        font-weight: 400;
        color: white;
        margin: 0px;
        text-align: center;
    }
    p{
        color: grey;
        margin: 0px;
        text-align: center;
        margin-top: 10px;
    }
}